.feature {
    float: left;
    width: 25%;
    background-color: lightgrey;
  }
  .p {
    font-size:medium;
  }
  /* Stops the float property from affecting content after the columns */
  .columns:after {
    content: "";
    display: table;
    clear: both;
  }