/*body{
    display: flex;
}*/
.head{
    font-family: "lato", sans-serif;
    text-align: center;
}
.paragraph{
    font-family: sans-serif;
    text-align: center;
    
}
.contact{
    align-items: center;
    justify-content: center;
}
.card-input{
    width: 600px;
    height: 50px;
    margin-top: 15px;
    margin-left: 600px;
    border: none;
    background-color: rgb(241, 240, 240);
    align-items: center;
    padding-left: 15px;

}
.text-area{
    background-color: rgb(241, 240, 240);
    

}
.button-input{
    color: white;
    background-color:  rgba(247, 78, 16, 0.644);
    width: 250px;
    height: 60px;
    font-weight: 400;
    font-size: larger;
    border: none;
    margin-top: 20px;
    margin-left: 800px;

}
.text-area{
    margin-top: 15px;
    margin-left: 600px;
    border: 0;
}
